*, *::before, *::after {
  box-sizing: border-box;
}
  
body {
  width: 100%;
  margin: 0 auto;
}

#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
 
}

.img-medal {
  display: none;

}

.img-medal.active {
  display: block;
}

 

  