/*------------PRODUCTS-----------------*/
.Products {
  margin: 40px 5px auto 5px;
  height: 100%;
  //border: 10px solid green;
  gap: 50px;
  
  

  .container{
    padding-top: 20px;
    width: 100%; 
    //border: 10px solid;
  }

  .row {
    text-align: center;
    width: 100%;
    height: 110%;
    align-items: center;
  }

  h3 {
    //border: 6px solid red;
    margin-left: 120px;
    margin-right: 0px;
    margin-top: -20px;
  }

  img {
    size: 20px;
  }

  

}

h4 {
  font-weight: bold;
  font-family: $font-text;
}

h4::after {
  display: block;
  content: "";
  width: 100px;
  height: 5px;
  padding-left: 20px;
  margin: 40px 0 0 0 ;
  background-color: $color-main;
}

.Products .container .row {
  margin-top: 40px;

  .row {
    text-align: center;
    align-items: center;
  }

  h2 {
    text-align: center;
    color: $color-main;
    font-size: 140%vw;
    
  }

  h2::after {
    display: block;
    content: "";
    width: 60%;
    height: 5px;
    margin: 0 auto;
    background-color: $color-main;
  }
}
/*gallery*/
.row justify-content-center {
  //background-color: pink;
  display: flex;
  gap: 50px;
  margin: 20px 140px 40px 140px;
}

.product-img {
  //border: 8px solid green;
  width: 500px;
  height: 350px;
  margin-top: 0px;
  margin-bottom: 5px;
  padding: 0px 0px 0px 0px;
  object-fit: fill;
  max-width: 100%;
 
  img {
    
    width: 488px;
    height: 350px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    box-shadow: 0 0 2em rgb(110, 110, 110);
    max-width: 100%;
    max-height: 100%;
  }

  .cover{
    object-fit: fill;
  }
  
}

.product-text {
  width: 500px;
  height: 350px;
  text-align: left;
  //border: 8px solid blueviolet;
  margin: 20px 0px 5px 0px;
  padding-top: 10px; 
}

.scorring {
  color: $color-main;
  font-family: $font-header;
  margin-top: 20px;
  line-height: 4px;
  //border: 4px solid black;
  margin-left: 0px;
  max-width: 100%;

  .col-6{
    margin-left: 0;
    padding: 10px 0 0 0;
  } 

  p {
    text-align: left;
    margin-left: 0;

  }

  span {
    color: $color-dark ;
  }
}

/*------------About-us-----------------*/
.About-us {
  height: 800px;
  width: 100%;
  margin: 0;
  margin-top: 50px;
  text-align: left;
  align-items: center;
  background-image: url(../images/about-us.png) ;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: relative;
  //border: 8px solid green;

  
  h2 {
    width: 100%;
    text-align: center;
    color: $color-main;
    padding-top: 50px;
    font-size: 140%vw;

  }

  h2::after {
    display: block;
    justify-items: center;
    content: "";
    margin: 0 auto;
    width: 50%;
    height: 5px;
    background-color: $color-main;
  }

  p {
    font-family: $font-header;
    font-size: 20px;
    font-size: solid;
    color: $color-light;
    //border: 8px solid green;
    margin-top: 50px;
    padding-left: 0%;
    padding-right: 20%;
  }

  p:last-of-type {
    //border: 5px solid yellow;
    text-align: left;
  }
}

/*--worker-carousel--*/
.main-carousel {
  .carousel-cell {
    width: 100%;
    height: 600px;
    //border: 8px solid green;
  }

  .carousel-card{
    //border: 8px solid yellow;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 12.5rem;
    gap: 5px;
    width: 70%;
    height: 80%;
    padding: 0.5rem;
    margin: 0 auto;
    margin-top: 50px;
    box-sizing: border-box;
  }

  .carousel-description {
    //border: 6px solid pink;
    width: 120%;
    height: 200%;
    margin-left: 0px;
    padding-top: 12%;
    text-align: center;

    h5 {
      //border: 5px solid red;
      text-align: left;
    }
  }

  .carousel-image {
    //border: 6px solid blue;
    width: 100%;
    height: 200%;
    margin: 0 auto;

    img {
      width: 100%;
      transform: scale(0.7);
      margin: 0 auto;
    }

  }
}

#homeProduct {
  
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  gap: 50px;
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  #left-1 { order: 1;}

  #right-2 { order: 2;}

  #right-3 { order: 3;}

  #left-4 { order: 4;}

  #left-5 {order: 5;}

  #right-6 {order: 6;}
  
  @media (max-width: 1218px) {
    #left-1 { order: 1;}

    #right-2 { order: 2;}

    #right-3 { order: 4;}

    #left-4 { order: 3;}

    #left-5 {order: 5;}

    #right-6 {order: 6;}
  }
  
}
