/*Products*/
.Products {
  margin: 40px 5px auto 5px;
  //height: 100%;
  //width: 100%;
  border: 10px solid;
  border-color: red;

  .container{
    padding-top: 20px;
    border: 10px solid;
  }

  .row {
    text-align: center;
    width: 100%;
    height: 100%;
    align-items: center;
  }

  h3 {
    border: 6px solid red;
    margin-left: 120px;
    margin-right: 0px;
    margin-top: -20px;
  }

  img {
    size: 20px;
  }

  h4 {
    font-weight: bold;
    font-family: $font-text;
  }

  h4::after {
    display: block;
    content: "";
    width: 100px;
    height: 5px;
    padding-left: 20px;
    margin: 40px 0 0 0 ;
    //margin-right: 25%;
    //margin-top: 10px;
    //margin-left: 20%;
    background-color: $color-main;
    //text-align: center;
    //align-items: center;
  }

}

.Products .container .row {
  margin-top: 40px;

  .row {
    text-align: center;
    align-items: center;
  }

  h2 {
   
    font-size: 75px;
    text-align: center;
    color: $color-main;
    
  }

  h2::after {
    display: block;
    content: "";
    width: 600px;
    height: 5px;
    //margin-left: 10%;
    //margin-right: 25%;
    margin-top: 10px;
    margin-left: 22%;
    background-color: $color-main;
    text-align: center;
    align-items: center;
  }
}
/*gallery*/
.row justify-content-center {
  background-color: pink;
  display: flex;
  margin: 0;
  margin-left: 140px;
  margin-right: 140px;
  
}

.About-us {
  height: 800px;
  margin: 0;
  margin-top: 50px;
  text-align: left;
  align-items: center;
  //background-color: green;
  background-image: url(../images/about-us.png) ;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: relative;

  
  h2 {
    text-align: center;
    color: $color-main;
    padding-top: 50px;
  }

  h2::after {
    display: block;
    //flex-direction: column;
    justify-items: center;
    //position: absolute;
    content: "";
    margin-left: 25%;
    margin-top: 40px;
    width: 50%;
    height: 5px;
    background-color: $color-main;
  }

  p {
    font-family: $font-header;
    font-size: 30px;
    color: $color-light;
    border: 8px solid;
    border-color: green;
    margin-top: 50px;
    padding-left: 20%;
    padding-right: 20%;
    align-items: flex-end;
    justify-content: right;
    
    
  }

  p:last-of-type {
    border: 5px solid;
    border-color: yellow;
    text-align: right;
    //align-items: flex-end;
  }
}

.product-img {
  //border: 8px solid green;
  //margin: 0;
  width: 500px;
  height: 300px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px 0px 0px 0px;
  object-fit: fill;
  //box-shadow: 0 0 1em red;
 
  img {
    
    width: 480px;
    height: 280px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    box-shadow: 0 0 2em rgb(110, 110, 110);
  }

  .cover{
    object-fit: fill;
  }
  //size: 20px 20px;
  
}

.product-text {
  width: 500px;
  height: 300px;
  text-align: left;
  //border: 8px solid blueviolet;
  margin: 5px 0px 5px 0px;
  //margin-top: 5px;
  //margin-bottom: 5px;
}

.scorring {
  color: $color-main;
  font-family: $font-header;
  //margin: auto;
  margin-top: 20px;
  line-height: 4px;
  border: 4px solid black;
  margin-left: 0px;

  .col-6{
    margin-left: 0;
    padding: 10px 0 0 0;
  } 

  p {
    text-align: left;
    margin-left: 0;

  }

  span {
    color: $color-dark ;
  }
}