.header {
  margin: 0 auto;
  //border: 5px solid red;
  height: auto;
  padding-left: 10%;
  padding-right: 10%;

  a {
    border: 0px;

    button {
      padding: 10px 10px 10px 10px;
      margin: 0px 5px 0px 5px;
    }
  }
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: relative;

  .container {
    margin: 0 auto;
    //border: 5px solid;
    //border-color: yellow;

    .row {
      text-align: center;
      margin: 0;
    }
  }
  

  h1 {
    color: $color-light;
    text-align: left;
    margin-top: 5px;
    margin: 0 auto;
    margin-left: 12%;
    margin-right: 12%;
    letter-spacing: 12px;
    word-spacing: 8px;
    font-weight: bold;
    align-items: center;
    justify-content: space-between;

    span {
      color: $color-light;
      font-size: 18px;
      word-spacing: 1px;
      letter-spacing: 2px;
      line-height: 1px;
    }
  }

  .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .nav-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 50px;
    list-style-type: none;
  }

  .nav-ul li a {
    display: inline-block;
    color: lighten($color-dark, 70%);
    font-family: $font-text;
    text-decoration: none;
    padding: 15px;
  }

  #hamburger {
    margin-bottom: 16px;
    background-color: transparent;
    color: lighten($color-dark, 70%);
    border: 0;
    display: none;
    cursor: pointer;
    font-size: 20px;
  }


  h2 {
    color: $color-main;
    margin: 80px 80px 0 12%;
    letter-spacing: 9px;
    text-align: left;
    word-spacing: 10px;
    font-size: 140%vw;
  }

  .golden-block {
    display: block;
    content: "";
    margin: 0 auto;
    margin-top: 40px;
    width: 20%;
    height: 5px;
    background-color: $color-main;
  }

  h2:first-of-type::after {
    display: none;
  }

  h2:last-of-type {
    padding: 5px;
    margin-top: 0px;
    margin-left: 26%;
    word-spacing: 14px;
    font-size: 120%vw;

  }

  .icon {
    margin-top: 140px;
    text-align: center;
    font-size: 50px;

    p {
      margin-top: 15px;
      padding-top: 0px;
      text-align: center;
      color: lighten($color-dark, 90%);
      font-family: $font-text;
      font-size: 25px;
      letter-spacing: 2px;
   
    }

    .icon-arrow {
      margin-top: 5px;
      margin-bottom: 150px;
      background-color: transparent;
      size: 60px;
      height: 60px;
      width: 60px;
      color: lighten($color-dark, 90%);
    }
  
  }
}

.Footer {
  text-align: center;
  margin-top: 30px;
}

@media (max-width: 768px) {
  #nav-ul {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: left;
  }

  ul#nav-ul.nav-ul.show {
    display: flex;
  }

  button#hamburger.hamburger {
    display: block;
  }

  h1 {
    color: $color-light;
    text-align: left;
    margin: 0 auto;
    letter-spacing: 12px;
    word-spacing: 8px;
    align-items: center;

    span {
      color: $color-light;
      font-size: 18px;
      word-spacing: 1px;
      letter-spacing: 2px;
      line-height: 1px;
    }
  }
  
  h2 {
    color: $color-main;
    margin: 80px 80px 0 20px;
    letter-spacing: 9px;
    text-align: left;
    word-spacing: 10px;
  }

  h2:first-of-type::after {
    display: none;
  }

  h2:last-of-type {
    padding: 5px;
    margin-top: 0px;
    margin-left: 20px;
    word-spacing: 14px; 

  }
}
