@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,600&family=The+Nautigal:wght@700&display=swap');

h1 {
  font-family: $font-text;
  //font-family:$font-header;

  font-size: 32px;
  //font-weight: $font-semibold;
  text-transform: uppercase;
  //color: red;
  
}

p {
  font-family: $font-text;
  font-size: 18px;
};

h2 {
  font-size: 76px;
  font-family: $font-text;
  font-weight: bold;
  text-transform: uppercase;
  
}
    
h3 {
  font-family: $font-text;
  font-size: 16px;
  //font-weight: $font-bold;
  //text-transform: uppercase;
}

h4 {
  font-size: 36px;
  font-weight: bold;
  font-family: $font-text;
  letter-spacing: 2px;
}

h5 {
  font-family: $font-text;
  font-size: 30px;
  color: $color-light;
}

h6 {
  font-size: 36px;
  font-weight: bold;
  font-family: $font-text;
  color: $color-light;
}
@media (max-width: 1230px){
  h2 {
    margin: 0 auto;
    font-size: 50px;
    font-family: $font-text;
    //font-weight: $font-bold;
    text-transform: uppercase;
    text-align: left;
    
  }
}