/*colors pallets*/
$color-dark: #000;
$color-light: #fff;
$color-main: #bea67c;

/*font used*/
$font-header: 'Open Sans', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;
$font-cursive: 'The Nautigal', cursive;

/*icons*/